<div class="container bg-white dark:bg-gray-900">
    <div class="scene">
        <div class="ufo">
            <div class="alien">
                <div class="head"></div>
                <div class="body"></div>
                <div class="eyes"></div>
            </div>
            <div class="light-beam"></div>
        </div>
        <div class="stars"></div>
    </div>

    <h1 class="bounce text-gray-900 dark:text-white">¡Houston, tenemos un problema!</h1>
    <p class="message text-gray-900 dark:text-white">La página que buscas fue abducida por extraterrestres</p>

    <button class="neon-button" routerLink="/">
        ¡Regresar a la Tierra!
    </button>
</div>