<section
    class="home-main-content flex justify-center items-center h-[459px] bg-cover bg-center text-white text-5xl font-bold shadow-lg"
    style="
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.2), rgba(26, 33, 74, 0.2)), url('../assets/img/background.webp') no-repeat center center / cover;">
    <div class="text-center max-w-2xl">
        <h1 class="text-8xl mb-4 dark:text-primary">Welcome</h1>
        <p class="text-xl text-details">Discover your favorite anime and series</p>
    </div>
</section>

<div [class.pointer-events-none]="isLoading()">
    <section class="my-5 mx-16">
        <h2 class="text-2xl font-bold flex items-center dark:text-textSecondary">
            <svg class="w-[35px] h-[35px] mr-4 dark:textSecondary" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 4H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1Zm0 0-4 4m5 0H4m1 0 4-4m1 4 4-4m-4 7v6l4-3-4-3Z" />
            </svg>
            Anime recommendation
        </h2>
        
        <div [@fadeAnimation]>
            <swiper-container
                appSwiper
                [config]="config"
                pagination="true"
                scrollbar="false"
                *ngIf="animeList.length > 0; else emptyAnime">
                <swiper-slide *ngFor="let anime of animeList | slice:0:15" [@slideAnimation]>
                    <app-poster-card [model]="anime"></app-poster-card>
                </swiper-slide>
            </swiper-container>

            <ng-template #emptyAnime>
                <div class="flex justify-center items-center h-40">
                    <p class="text-white text-lg text-center p-4 bg-gray-800 bg-opacity-75" [@fadeAnimation]>
                        No hay animes disponibles
                    </p>
                </div>
            </ng-template>
        </div>

    </section>
</div>