<section
    class="home-main-content flex justify-center items-center h-[459px] bg-cover bg-center text-white text-5xl font-bold shadow-lg"
    style="background: linear-gradient(135deg, rgba(34, 34, 34, 0.2), rgba(26, 33, 74, 0.2)), url('../assets/img/background.webp') no-repeat center center / cover;">
    <div class="text-center max-w-2xl">
        <h1 class="text-8xl mb-4 dark:text-primary">Welcome</h1>
        <p class="text-xl text-details">Discover your favorite anime and series</p>
    </div>
</section>

<app-episode-carousel 
    title="Streaming episodes" 
    [icon]="droppedIcon" 
    [episodeList]="episodeList()"
    [isLoading]="isLoadingDropped()" 
    emptyStateTitle="No hay episodios disponibles"
    emptyStateMessage="No se encontraron episodios en este momento. Intenta más tarde." 
    emptyStateIcon="search"
    sliderId="episodes" 
    [limit]="SLIDER_LIMIT">
</app-episode-carousel>

<!-- Carrusel de recomendaciones -->
<app-anime-carousel
    title="Anime recommendation"
    [icon]="recommendationIcon"
    [animeList]="animeList()"
    [isLoading]="isLoadingRecommendations()"
    emptyStateTitle="No hay animes disponibles"
    emptyStateMessage="No se encontraron recomendaciones en este momento. Intenta más tarde."
    emptyStateIcon="anime"
    sliderId="recommendations"
    [limit]="SLIDER_LIMIT">
</app-anime-carousel>

<!-- Carrusel de tops -->
<app-anime-carousel
    title="Top anime today"
    [icon]="topIcon"
    [animeList]="topAnimeList()"
    [isLoading]="isLoadingTops()"
    emptyStateTitle="No hay animes top disponibles"
    emptyStateMessage="No se encontraron animes en el ranking de hoy. Intenta más tarde."
    emptyStateIcon="top"
    sliderId="tops"
    [limit]="SLIDER_LIMIT">
</app-anime-carousel>